<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SEB" connectionString="Data Source=192.168.0.101\PROD;Initial Catalog=Seb2025;User ID=sqllive;Password=I76PC9Lke;Connection Timeout=3600; MultipleActiveResultSets=true" />
    <add name="SEC" connectionString="Data Source=192.168.0.101\PROD;Initial Catalog=Sec2025;User ID=sqllive;Password=I76PC9Lke;Connection Timeout=3600; MultipleActiveResultSets=true" />
    <add name="SECTEST" connectionString="Data Source=192.168.0.102\TEST;Initial Catalog=Sec2025;User ID=hwn83;Password=nwH83;Connection Timeout=3600;   MultipleActiveResultSets=true" />
	<add name="SEBTEST" connectionString="Data Source=192.168.0.102\TEST;Initial Catalog=Seb2025;User ID=hwn83;Password=nwH83;Connection Timeout=3600;   MultipleActiveResultSets=true" />
	<add name="SecLTT" connectionString="Data Source=192.168.0.101\PROD;Initial Catalog=SecLTT;User ID=sqllive;Password=I76PC9Lke;Connection Timeout=3600;   MultipleActiveResultSets=true" />
	<add name="SecBG2025" connectionString="Data Source=192.168.0.101\PROD;Initial Catalog=SecBG2025;User ID=sqllive;Password=I76PC9Lke;Connection Timeout=3600;   MultipleActiveResultSets=true" />

  </connectionStrings>
  <appSettings>
    <add key="AddressFrom" value="mailrapor@dcscustoms.com.tr"/>
    <add key="DisplayNameFrom" value="Kur Alma İşleminde Hata!"/>
    <add key="AddressTo" value="erp.support@atez.com"/>
    <add key="DisplayNameTo" value="Kur Hata"/>
    <add key="SmtpClientHost" value="192.168.0.200"/>
    <add key="SmtpClientPort" value="2525"/>
    <add key="NetworkCredentialUserName" value="itd"/>
    <add key="NetworkCredentialPassword" value="Machine05"/>
    <add key="ServiceIntervalMs" value="30000"/>
  </appSettings>
</configuration>

